@font-face {
  font-family: 'MildLifeRegular';
  src: local(MildLifeRegular), url('~@/assets/fonts/MildLifeRegular.otf');
  src: local(MildLifeRegular), url('~@/assets/fonts/MildLifeRegular.otf') format('opentype'),
  local(MildLifeRegular), url('~@/assets/fonts/MildLifeRegular.ttf') format('truetype');
}